<div>
    <div class="text-center">
        <h3>Não foi possível realizar seu agendamento pois o seu animal é idoso e o médico não possui essa especilidade, procure outro profissional</h3>
    </div>
</div>

<div>
    <a asp-action="ListarHorariosDisponiveis">Voltar</a>
</div>
