@model ClinicaVeterinaria.Web.Models.Entidades.Agendamento

@{
    ViewData["Title"] = "Agendar Horário";
}

<h1>Agendar Horário</h1>

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgendarHorario">
            <div class="form-group">
                <input asp-for="AgendamentoId" type="hidden" class="form-control" />
                <span asp-validation-for="AgendamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConsulta" class="control-label">Data da consulta</label>
                <input asp-for="DataConsulta" class="form-control" readonly="readonly" />
                <span asp-validation-for="DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="VeterinarioId" type="hidden" class="form-control" />
                <span asp-validation-for="VeterinarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeterinarioNome" class="control-label">Nome do médico</label>
                <input asp-for="VeterinarioNome" class="form-control" readonly="readonly" />
                <span asp-validation-for="VeterinarioNome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input type="hidden" class="form-check-input" asp-for="VeterinarioGeriatrico" /> 
            </div>
            <div class="form-group form-check">
                <input type="hidden" class="form-check-input" asp-for="Disponivel" />
            </div>
            <div class="form-group">
                <label asp-for="Animal.NomeAnimal" class="control-label">Nome do animal que será consultado?</label>
                <input asp-for="Animal.NomeAnimal" class="form-control" />
                <span asp-validation-for="Animal.NomeAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agendar Consulta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListarHorariosDisponiveis">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
