<div>
    <div class="text-center">
        <h1 class="display-4">Seja Bem Vindo a loja CUIDADO ANIMAL!</h1>
        <p>Aqui você escolhe o melhor dia e horário para consultar o seu animalzinho.</p>
        <p>Temos os melhores profissionais para atender seu PET, também temos especialidade em Geriatria!!!</p>
    </div>
</div>