@using ClinicaVeterinaria.MVC.Models.Entidades

@model Cliente;
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
    var mensagemExibir = ViewBag.mensagem;
}

@{
    if (mensagemExibir != null)
    {
    <div class="alert-danger">
                <p>@mensagemExibir</p>
    </div>
    }
}

<form asp-controller="Cliente" asp-action="Logar">
    <div class="mb-3">
        <label for="cpf">CPF</label>
        <input type="text" name="CpfCliente" class="form-control" id="cpf">
         <span asp-validation-for="CpfCliente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" name="Senha" class="form-control" id="Senha" placeholder="*********">
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <button type="submit" class="btn btn-primary" asp-controller="Cliente" asp-action="FormCadastro">Cadastrar</button>
</form>

